.vacio {
	width: 120px!important;
	height: 200px!important;
}
.dialog-content {
	height: 250px;
}
.titulo {
	width: 118px;
	height:30px;
	top:0px;
	padding: 5px 5px 1px 1px;
}
.contenedorbtn {
	width: 118px;
	height: 40px;
	padding: 5px 5px 6px 6px;
}
.buttom {
	width: 106px
}
.ventana{
	width: 250px;
	height: 320px;
}