

<md-card class="white" >
        <span class="card-title "><md-icon>notifications_none</md-icon> Workflow <dialog-wf1></dialog-wf1>
          <a  href="#!" class=" right  white  "> <i class="material-icons grey-text right">fullscreen</i></a>
        </span>
          
          <div class="divider"></div>
          <br>
              
           <div class="row" >
               <br>
                <div class="col s6" *ngFor= "let workflowicon of workflow?.tablerowf" >
                         <a href="#!" *ngIf="workflowicon.visible"  >
                          <md-card   class=" waves-effect " [style.background]="theme.color.baselg2">
                              <md-card-content>
                                    <div class="center ">
                                        <i [style.color]="theme.color.baselg1" class="material-icons grande ">{{workflowicon.icono}}</i>    
                                    </div>
                                    <md-divider></md-divider>
                               </md-card-content>

                              <md-card-footer  class="white grey-text  text-darken-1 waves-effect"  style="">
                                <div [style.background]="theme.color.basedk1" class= "separador"></div>
                                <div class= "separador white"></div>
                               <div class= "left" >{{workflowicon.tipo}}</div>  <div class= "right white">.</div><div [style.background]="theme.color.baselg1" class="rglobo white-text"> {{workflowicon.cantidad}} </div>  
                                
                              </md-card-footer >
                          </md-card>
                  </a>
                </div>
               
          </div>

  </md-card>  
         

         
    
