      <div style="height: 80px;">
 <h5 style="text-align:center" class="Grey-text darken-3 bold" >Vision Ejecutiva</h5>
 <md-icon>menu</md-icon>
</div>
       <md-divider></md-divider>

        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-orange no-padding orange-text  ">Compras <i class="material-icons">shopping_cart</i></a>
            <div class="collapsible-body no-padding">
              <ul>
                    <md-nav-list class=" grey lighten-3">
                      <md-list-item>
                         <a  class="grey-text  text-darken-2" style="padding-left: 15px;" md-line href="..."><h6>Contratos</h6></a><md-icon class="grey-text  text-lighten-1">folder</md-icon>
                      </md-list-item>
                      <md-list-item>
                         <a class="grey-text  text-darken-2" style="padding-left: 15px;" md-line href="..."><h6>Pedidos</h6></a><md-icon class="grey-text  text-lighten-1">shopping_cart</md-icon>
                      </md-list-item>
                     <md-list-item>
                         <a class="grey-text  text-darken-2" style="padding-left: 15px;" md-line href="..."><h6>Solicitudes</h6></a><md-icon class="grey-text  text-lighten-1">shopping_basket</md-icon>
                      </md-list-item>
                   </md-nav-list>
              </ul>
            </div>
          </li>
          <li>
            <a class="collapsible-header waves-effect waves-orange no-padding orange-text darken-2">Personas <i class="material-icons">supervisor_account</i></a>
            <div class="collapsible-body no-padding">
              <ul>
                   <md-nav-list class=" grey lighten-3 ">
                    <div>
                      <md-list-item>
                         <a class="grey-text  text-darken-2" md-line style="padding-left: 15px;" href="..."> <h6>Fichas</h6></a><md-icon class="grey-text  text-lighten-1">picture_in_picture</md-icon>
                      </md-list-item>
                      </div>
                     <md-list-item>
                         <a class="grey-text  text-darken-3" md-line  style="padding-left: 15px;" href="..."><h6>Rendiciones</h6></a><md-icon class="grey-text  text-lighten-1"> local_atm</md-icon>
                      </md-list-item>
                   
                   <md-list-item>
                         <a class="grey-text  text-darken-3" md-line  style="padding-left: 15px;" href="..."><h6>vacaciones</h6></a><md-icon class="grey-text  text-lighten-1"> airplanemode_active</md-icon>
                      </md-list-item>
                   </md-nav-list>
              </ul>
            </div>
          </li>
           <li>
            <a class="collapsible-header waves-effect waves-orange no-padding orange-text darken-2">Presupuestos <i class="material-icons">equalizer</i></a>
            <div class="collapsible-body no-padding">
              <ul>
                   <md-nav-list class=" grey lighten-3 ">
                    <div>
                      <md-list-item>
                         <a class="grey-text  text-darken-2" md-line style="padding-left: 15px;" href="..."> <h6>Fichas</h6></a><md-icon class="grey-text  text-lighten-1">picture_in_picture</md-icon>
                      </md-list-item>
                      </div>
                     <md-list-item>
                         <a class="grey-text  text-darken-3" md-line  style="padding-left: 15px;" href="..."><h6>Rendiciones</h6></a><md-icon class="grey-text  text-lighten-1"> local_atm</md-icon>
                      </md-list-item>
                  
                   <md-list-item>
                         <a class="grey-text  text-darken-3" md-line  style="padding-left: 15px;" href="..."><h6>vacaciones</h6></a><md-icon class="grey-text  text-lighten-1"> airplanemode_active</md-icon>
                      </md-list-item>
                   </md-nav-list>
              </ul>
            </div>
          </li>
          
        </ul>