<!--Rodolfo Leiva-->


<div class="page">
<md-sidenav-container class="example-container  ">
  <md-sidenav #sidenav class="example-sidenav ">
<app-navbar></app-navbar>
  </md-sidenav>

<div class="brown lighten-4" >
<div >
      <nav [style.background]="theme.color.base" class="z-depth-3" >
          <div class="nav-wrapper">
          
          <ul class="left col s12 ">
             <li style="padding-left: 15px;"><button  [style.background]="theme.color.base" class=" z-depth-2"   md-icon-button (click)="sidenav.open()"><md-icon>menu</md-icon></button></li>    
             
              <li style="padding-left: 15px;"><button  md-icon-button [style.background]="theme.color.basedk1" >
                      <md-icon>search</md-icon>
                    </button><li>
          </ul>
           <ul class="right ">
              <li><a [routerLink]="['/dashboard']" [routerLinkActive]="['activado']"><i class="material-icons">dashboard</i></a></li>
              <li><a [routerLink]="['/workflow']" [routerLinkActive]="['activado']"><i class="material-icons">notifications_none</i></a></li>
              
              <li style="padding-right:15px"><button md-icon-button [style.background]="theme.color.base" [mdMenuTriggerFor]="menu">
                      <md-icon>person_outline</md-icon>
                    </button>
                    <md-menu  #menu="mdMenu"  x-position="after" y-position="above">
                    <button md-menu-item  disabled >
                        
                      <md-icon style="font-size: 30px; padding:-8px">account_circle</md-icon> <span style=" padding-top:24px"> Rodolfo Leiva </span>
                      </button>
                      <button md-menu-item>
                        <md-icon style="font-size: 18px; padding-top:4px">settings</md-icon>
                        <span style="font-size: 13px">Configurar</span>
                      </button>
                       <button md-menu-item >
                        <md-icon style="font-size: 18px; padding-top:4px">camera_roll</md-icon>
                        <span style="font-size: 13px">Historial</span>
                      </button>
                      <button md-menu-item >
                        <md-icon style="font-size: 18px; padding-top:4px">lock</md-icon>
                        <span style="font-size: 13px">Bloquear</span>
                      </button>
                      <button md-menu-item >
                        <md-icon style="font-size: 18px; padding-top:4px">exit_to_app</md-icon>
                        <span style="font-size: 13px">Salir</span>
                      </button>
                      
              </md-menu>
            </li>
            </ul> 
           </div> 
          
      </nav>
    </div>
 </div>

 <div class="page-content">
 
<router-outlet></router-outlet>

 <footer [style.background]="theme.color.baselg2" class="page-footer ">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 [style.color]="theme.color.baselg1"  >Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              
            </div>
          </div>
          <div [style.background]="theme.color.baselg1" class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
</footer>
</div >
</md-sidenav-container>
</div>