
 <nav class="brown lighten-3 z-depth-0" >
          
     <div class="container ">
                  <ul class="left col s12 "> 
                  <li><i class="material-icons white-text right" style="font-size: 38px">grid_on</i></li>  
                  <li><h4 class="white-text darken-5">Workflow</h4></li>
                 </ul>
                
                <ul class="right ">   
                </ul> 
     </div>
          
</nav> 
<h3>Soy la pagina workflow</h3>

<div class="example-wrapper container-fluid">
        <div class="row">
         
            <p>PanelBar</p>
            
          
        </div>
      </div>